.plava{
    width: 500px;
    height: 350px;
    background-color: blue;
    position: relative;
}
.crv_h{
    background-color: red;
    position: absolute;
    width: 50px;
    height: 350px;
    margin-left: 150px;
    z-index: 2;
}
.crv_v{
    background-color: red;
    position: absolute;
    height: 50px;
    width: 500px;
    margin-top: 150px;
    z-index: 2;
}
.bijela_h{
    background-color: white;
    position: absolute;
    z-index: 1;
    height: 100px;
    width: 500px;
    margin-top: 125px;
}
.bijela_v{
    background-color: white;
    position: absolute;
    z-index: 1;
    height: 350px;
    width: 100px;
    margin-left: 125px;
}

.plavo{
    background-color: rgb(13, 182, 182);
    position: relative;
    width: 500px;
    height: 300px;
    z-index: 1;
}
.crno{
    height: 0;
    width: 0;
    position: absolute;
    border-left: 150px solid black;
    border-bottom: 150px solid transparent;
    border-top: 150px solid transparent;
    z-index: 3;
}
.zuto{
    position: absolute;
    width: 500px;
    height: 100px;
    background-color: yellow;
    margin-top: 100px;
    z-index: 2;
}

.b1{
    position: relative;
    width: 400px;
    height: 350px;
    background-color: red;
    margin-left: 150px;
}
.b2{
    position: absolute;
    background-color: white;
    height: 350px;
    width: 50px;
    z-index: 1;
}

.zel{
    position: relative;
    background-color: #007A5E;
    height: 350px;
    width: 175px;
}
.crv{
    margin-left: 175px;
    position: absolute;
    background-color: #CF1126;
    height: 350px;
    width: 175px;
}
.zut{
    position: absolute;
    background-color: #FCD116;
    height: 350px;
    width: 175px;
    margin-left: 175px;
}
.zutz{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 125px;
    margin-left: -137.5px;
    background: gold;
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
        );
}

.t1{
    position: relative;
    background-color: red;
    height: 300px;
    width: 400px;
}
.t2{
    border-radius: 50%;
    height: 125px;
    width: 125px;
    position: absolute;
    background-color: white;
    z-index: 1;
    margin-top: 100px;
    margin-left: 50px;
}
.t3{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: red;
    z-index: 2;
    margin-top: 10px;
    margin-left: 27.5px;
}
.t4{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 80px;
    background: white;
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
        );
        transform: rotate(-20deg);
}